*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    border: 0;
}
.con_box{
    background-color: seashell;
}
.box{
    margin: 0 auto;
    width: 976px;
    position: relative;
    height: 500px;
}
h1{
    text-align: center;
    padding: 50px 0;
}
.in_box{
    width: 224px;
    height: 224px;
    position: absolute;
}
.in_box img:nth-child(1){
    position: absolute;
}
.in_box img:nth-child(1){
    left: 0;
}
.in_box img:nth-child(2){
    left: 254px;
}
.in_box img:nth-child(3){
    left: 498px;
}
.in_box img:nth-child(4){
    left: 752px;
}